main #my-contenitore{
    height: 100vh;
    width: 100%;
}

main #my-contenitore #my-contenitore-carosello{
    height: 70vh;
    width: 70%;
}

main #my-contenitore .my-jumbotron{
    height: 100%;
    width: 80%;
}

main #my-contenitore .my-contenitore-thumbnails{
    width: 20%;
    height: 100%;
}

main #my-contenitore .my-contenitore-thumbnails .my-button{
    left: 50%;
    transform: translate(-50%);
}

main #my-contenitore .my-thumbnails {
    height: calc(100% / 5);
    width: 100%;
    border: black solid 2px;
}

img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}