
main #my-contenitore{
    height: 100vh;
    width: 100%;
}

main #my-contenitore #my-contenitore-carosello{
    height: 80vh;
    width: 70%;
}

main #my-contenitore .my-jumbotron{
    height: 100%;
    width: 80%;
    display:none;
}

main #my-contenitore .my-contenitore-thumbnails{
    width: 20%;
    height: 100%;
}

main #my-contenitore .my-contenitore-thumbnails .my-button{
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

main #my-contenitore .my-thumbnails {
    height: calc(100% / 5);
    width: 100%;
}

main .active{
    border: solid white 5px;
    filter: brightness(0.2);
}

img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

